In [26]:
import pandas as pd
import numpy as np
array1=np.array([1,2,3,4,5])
seq=np.array(["n","e","g"])
ser1=pd.Series(array1)
print(ser1)
dict={"name":"hammad","edu":"undergraduate","game":"football"}
# ser2=pd.Series(dict,index=seq) dont need to give index while making series out of dictionary
dic_series =pd.Series(dict) 
print(dic_series)
array2=np.array([6,7,8,9,10])
ser2=pd.Series(np.add(array1,array2))
print(ser2)
# print(f"{ser1+ser2}")
print(array1)
print(f"{np.add(ser1,ser2)}")

0    1
1    2
2    3
3    4
4    5
dtype: int32
name           hammad
edu     undergraduate
game         football
dtype: object
0     7
1     9
2    11
3    13
4    15
dtype: int32
[1 2 3 4 5]
0     8
1    11
2    14
3    17
4    20
dtype: int32

In [31]:
s1=pd.Series({4:5,5:6,6:7,7:8,8:9})
s2=pd.Series([1,2,3,4,5],name="adding series")
print(s2.name)

s1+s2

adding series

0     NaN
1     NaN
2     NaN
3     NaN
4    10.0
5     NaN
6     NaN
7     NaN
8     NaN
dtype: float64

In [3]:
import pandas as pd
import numpy as np
h=pd.DataFrame(np.random.randint(10,20,size=(2,3)),['A','B'],['C','D','E'])
print(h,h.shape)

    C   D   E
A  10  14  14
B  19  16  12 (2, 3)

In [23]:
import pandas as pd
dic={"firstname":pd.Series(["muhammad","muhammad","syed","mirza"],index=(1,2,3,4)),"lastname":pd.Series(['hammad','ibad','hamid','muhammad waris'],index=(1,2,3,4))}
pd.DataFrame.from_dict(dic,orient="index")

                  1         2      3               4
firstname  muhammad  muhammad   syed           mirza
lastname     hammad      ibad  hamid  muhammad waris

In [18]:
dict={"firstname":pd.Series(["muhammad","muhammad","syed","mirza"],index=("one",2,"hellow",5)),"lastname":pd.Series(['hammad','ibad','hamid','muhammad waris'])}
df1=pd.DataFrame.from_dict(dict,orient="index",columns=["one",2,"hellow",5])
print(df1)

# it is not showing column labels because key value is in series and series are already indexed and thats why passing other indexes will not match

                one         2 hellow      5
firstname  muhammad  muhammad   syed  mirza
lastname        NaN     hamid    NaN    NaN

In [97]:
pd.DataFrame.from_dict({"fname":["muhammad","mirza","syed","kamran"],"lname":["hammad","waris","ali","khan"]},orient="index",columns=["one",2,"hellow",5])
# it is working ok with differnt indexes cos it has no declare values as series.

            one      2 hellow       5
fname  muhammad  mirza   syed  kamran
lname    hammad  waris    ali    khan

In [5]:
# df2=pd.DataFrame.from_dict({"fname":["muhammad","mirza","syed","kamran"],"lname":["hammad","waris","ali","khan"]},orient="index",columns=["one",2,"hellow",5])
import numpy as np
h=pd.DataFrame(np.random.randint(10,20,size=(2,3)),['A','B'],['C','D','E'])
print(h)
print(h[['C','D']])
print(h.loc['A'])
print(h.iloc[[1]])
print(h.loc['A','E'])
print(h.loc[['A','B'],['D']])
h['total']=h['C']+h['E']
print(h)





# print(df2)
# print(df2["one"])

    C   D   E
A  17  11  13
B  19  12  12
    C   D
A  17  11
B  19  12
C    17
D    11
E    13
Name: A, dtype: int32
    C   D   E
B  19  12  12
13
    D
A  11
B  12
    C   D   E  total
A  17  11  13     30
B  19  12  12     31

In [6]:
dict ={"C":22,"D":11,"E":9}
new_row=pd.Series(dict,name="B")
print(h)
new_row
print(h.append(new_row))
print(h)


print(h.drop(['D'],axis=1)) 
print(h.drop(['D'],axis='columns')) 
# print(h.drop(['F'],axis='rows,index,0'))
print(h)

    C   D   E  total
A  17  11  13     30
B  19  12  12     31
    C   D   E  total
A  17  11  13   30.0
B  19  12  12   31.0
B  22  11   9    NaN
    C   D   E  total
A  17  11  13     30
B  19  12  12     31
    C   E  total
A  17  13     30
B  19  12     31
    C   E  total
A  17  13     30
B  19  12     31
    C   D   E  total
A  17  11  13     30
B  19  12  12     31

C:\Users\USER\AppData\Local\Temp\ipykernel_12336\773001164.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(h.append(new_row))

In [20]:
dict ={"C":22,"D":11,"E":9}
new_row=pd.Series(dict,name="B")
print(h)
new_row
h=h.append(new_row)
print(h)
# h.drop(['B'],axis=0,inplace=True)
print(h)
h["sex"]=['male','female']
h.set_index('sex',inplace=True)
h

         C   D   E  total
sex
male    17  11  13   30.0
female  22  11   9    NaN
         C   D   E  total
sex
male    17  11  13   30.0
female  22  11   9    NaN
B       22  11   9    NaN
         C   D   E  total
sex
male    17  11  13   30.0
female  22  11   9    NaN
B       22  11   9    NaN

C:\Users\USER\AppData\Local\Temp\ipykernel_12336\1142752157.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  h=h.append(new_row)

ValueError: Length of values (2) does not match length of index (3)

In [12]:
df1=pd.DataFrame({"a":[1,np.nan,2,np.nan]})
df2=pd.DataFrame({"a":[1,5,2,3]})
print(df1)
print(df2)
df1.combine_first(df2)

     a
0  1.0
1  NaN
2  2.0
3  NaN
   a
0  1
1  5
2  2
3  3

     a
0  1.0
1  5.0
2  2.0
3  3.0

In [54]:
arr_2=np.random.randint(10,50,size=(2,3))
df_1=pd.DataFrame(arr_2,['a','b'],['c','d','e'])
print(df_1)

print("values greater than 40\n ",df_1.gt(40))
bool=df_1>=45
df_1[bool]  
df_1['e']>40

    c   d   e
a  30  27  44
b  36  42  47
values greater than 40
         c      d     e
a  False  False  True
b  False   True  True

a    True
b    True
Name: e, dtype: bool